body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

input {
  width: 200px;
}

button {
  background-color: #ccc;
  border: none;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.important {
  background-color: red;
}

.urgent {
  background-color: orange;
}

.not-important {
  background-color: green;
}

.not-urgent {
  background-color: blue;
}
